<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="foo1" class="sample2.Foo" scope="prototype"></bean>
	<bean id="foo2" class="sample2.Foo">
		<constructor-arg value="컨스트럭터 테스트"></constructor-arg>
	</bean>
	<bean id="foo3" class="sample2.Foo">
		<constructor-arg>
			<value>25</value>
		</constructor-arg>
		<constructor-arg value="hello"/>
	</bean>
	<bean id="foo4" class="sample2.Foo">
		<constructor-arg value="50"/>
		<constructor-arg value="안녕"/>
		<constructor-arg value="true"/>
	</bean>
	
	<bean id="foo5" class="sample2.Foo">
		<constructor-arg index="0" type="int" value="10"/>
		<constructor-arg index="2" type="java.lang.String" value="안녕"/>
		<constructor-arg index="1" type="boolean" value="true"/>
	</bean>
	
	<bean id="foo6" class="sample2.Foo">
		<constructor-arg>
			<ref bean="bar"/>
		</constructor-arg>
	</bean>
	
	<bean id="bar" class="sample2.Bar">
		
	</bean>
	
	<!-- <bean id="foo4" class="sample2.Foo">
		<property name="str">
			<value>세터 테스트</value>
		</property>
	</bean> -->
</beans>
