<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="entity1" class="test04.GoodsEntity" p:code="p0012" p:name="HTML5" 
p:price="25000" p:maker="혜지원"/>
<bean id="entity2" class="test04.GoodsEntity" p:code="p0013" p:name="jQuery" 
p:price="32000" p:maker="구민사"/>
</beans>
