<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="man" class="Man"/>
    <bean id="woman" class="Woman"/>

    <!--Advice 횡단 관심 사항-->
    <bean id="myAdvice" class="MyAspect"/>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <!--Advisor = advice + pointcut -->
    <bean id="myAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="myAdvice"/>
        <property name="expression" value="execution(public * *(..))"/>

    </bean>

</beans>